.page-selector {
    color: #fff;
    display:flex;
    flex-direction: row;
    padding: 10px;
    margin:auto;
    font-family: 'Roboto', sans-serif;
    font-family: 'La Belle Aurore', cursive;
}

.link-title{
    font-size: large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-subtitle {
    font-size: medium;
    justify-content: center;
    align-items: center;
}

.link-btn {
    text-decoration: none;
    color: #fff;
}

.link-btn-wrapper {
    width: 50%;
    height: 140px;
    display: flex;
    flex-wrap: 50%;
    flex-direction: row;
}

.link-btn-wrapper2{
    width: 100%;
    height: 140px;
    display: flex;
    flex-wrap: 100%;
}

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
}

.overlay:hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    transition: all 0.3s ease-in;
    background-color: lightseagreen;
    color: $color-success;
}

.img-gallery {
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: 50%;
    position: relative;
}

.icons:hover{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
}

.footer {
    color:rgb(218, 58, 119);
    margin: 20px;
}

  
